*{
    width: 1225px;
    margin: auto 0;
}
/* Top Animations */
.animations {
    position: absolute;
    white-space: nowrap;
    -webkit-animation: rightThenLeft 10s linear;

}

@-webkit-keyframes rightThenLeft {
    0%   {right: 0%;}
    50%  {right: 100%;}
    100% {right: 0%;}
}

